* {
  margin: 0;
  padding: 0;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

div.main {
  box-sizing: border-box;
  width: 100vw;
}

div[class^="sub"] {
  box-sizing: border-box;
  width: 50vw;
}

.panel {
  display: flex;
  justify-content: space-evenly;
}

.selectCurve {
  align-self: center;
}

.addChart {
  display: flex;
  flex-direction: column;
}